<header
  class="w-full h-auto bg-custom-purple-700 p-4 flex justify-between items-center overflow-hidden text-custom-mint-green-600 font-semibold"
>
  <div routerLink="" class="cursor-pointer">
    <div class="flex justify-between gap-2 items-center">
      <i class="fa-solid fa-fire-flame-curved text-3xl ml-6"></i>
      <span class="text-white">JMSTORE</span>
    </div>
  </div>
  <nav>
    <div class="flex items-center md:order-2">
      <button
        (click)="handleIsOpen()"
        type="button"
        class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
        id="user-menu-button"
        aria-expanded="false"
        data-dropdown-toggle="user-dropdown"
        data-dropdown-placement="bottom"
      >
        <span class="sr-only">Open user menu</span>
        <img
          class="w-8 h-8 rounded-full"
          src="https://fastly.picsum.photos/id/529/536/354.jpg?hmac=ItKRFzeMMS8zYbKrxh5qmJh9oLug_ZI8pqBB2z4kos0"
          alt="user photo"
        />
      </button>
      <!-- Dropdown menu -->
      <div
        *ngIf="dropDownIsOpen"
        class="z-50 my-4 absolute top-8 right-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-custom-purple-700 dark:divide-gray-600"
        id="user-dropdown"
      >
        <div class="px-4 py-3">
          <span class="block text-sm text-gray-900 dark:text-white"
            >Bonnie Green</span
          >
          <span class="block text-sm text-gray-500 truncate dark:text-gray-400"
            >name@jmstore.com</span
          >
        </div>
        <ul class="py-2" aria-labelledby="user-menu-button">
          <li>
            <a
              routerLink="dashboard"
              (click)="handleIsOpen()"
              href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-custom-mint-green-700 dark:hover:bg-custom-mint-green-700 dark:text-gray-200 dark:hover:text-white"
              >Dashboard</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-custom-mint-green-700 dark:text-gray-200 dark:hover:text-white"
              >Settings</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-custom-mint-green-700 dark:text-gray-200 dark:hover:text-white"
              >Earnings</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-custom-mint-green-700 dark:text-gray-200 dark:hover:text-white"
              >Sign out</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
